{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Candidates</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">ATS System</div>

    <div class="nav-links">
        <a href="/">Jobs</a>
        <a href="/candidates/">Candidates</a>
        <a href="/notifications/">Notifications</a>
    </div>
</nav>

<!-- MAIN -->
<div class="container">

    <h2 class="title">Candidate List</h2>

    <div class="list-container">

        {% for c in candidates %}
            <div class="candidate-row">

                <div class="col name">
                    {{ c.candidate_name }}
                </div>

                <div class="col email">
                    {{ c.email }}
                </div>

                <div class="col skills">
                    {{ c.candidate_skills }}
                </div>

                <div class="col job">
                    {{ c.applied_job.title }}
                </div>

                <div class="col score 
                    {% if c.score >= 80 %}high
                    {% elif c.score >= 50 %}medium
                    {% else %}low
                    {% endif %}">
                    {{ c.score|default:"0" }}
                </div>

            </div>
        {% empty %}
            <p>No candidates found</p>
        {% endfor %}

    </div>

</div>

</body>
</html>