{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Jobs</title>
    <link rel="stylesheet" href="{% static 'style.css' %}?v=2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">ATS System</div>

    <div class="nav-links">
        <a href="/">Jobs</a>
        <a href="/candidates/">Candidates</a>
        <a href="/notifications/">Notifications</a>
    </div>
</nav>

<!-- MAIN -->
<div class="container">

    <h2 class="title">Available Jobs</h2>

    <div class="job-grid">
        {% for job in jobs %}
            <div class="job-card">
                <h3 class="job-title">{{ job.title }}</h3>

                <p class="job-skills">
                    <b>Skills:</b> {{ job.required_skills }}
                </p>
                <p class="create">
                    <h4>Posted By:</h4>{{job.created_time}}
                </p>
            </div>
        {% empty %}
            <p>No jobs available</p>
        {% endfor %}
    </div>

</div>

</body>
</html>