{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Notifications</title>
    <link rel="stylesheet" href="{% static 'style.css' %}?v=2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">ATS System</div>

    <div class="nav-links">
        <a href="/">Jobs</a>
        <a href="/candidates/">Candidates</a>
        <a href="/notifications/">Notifications</a>
    </div>
</nav>

<!-- MAIN -->
<div class="container">

    <h2 class="title">Notifications</h2>

    <div class="list-container">

        {% for n in notifications %}
            <div class="notification-row">

                <div class="col title">
                    {{ n.title }}
                </div>

                <div class="col message">
                    {{ n.message }}
                </div>
                

                <div class="col time">
                    {{ n.created_at|default:"-" }}
                </div>

            </div>
        {% empty %}
            <p>No notifications found</p>
        {% endfor %}

    </div>

</div>

</body>
</html>